@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Cairo', sans-serif;
    box-sizing: border-box;
 }
 header{
    margin-top: 10px;
 }
 
 .myNav a{
   font-size: 15px;
 }
.mainA{
   /* text-decoration: underline; */
  /* text-decoration-color: #EE8E3D; */
  height: 40px;

 }
.part2{
   width: 100%;
   height: 2px;
   background-color: #EE8E3D;
 }
 .myNav a{
   transition: .5s;
 }
.myNav a:hover{
   color: #EE8E3D !important;
   transform: scale(1.1);
 }
.mainPlaceSpinner{
  overflow: hidden;
}
.leftMainSection .mySpinner{
  width: 215px;
height: 215px;
/* UI Properties */
border: 40px solid #3485B9;
border-radius: 298px;
opacity: 1;
transform: translateX(-150px);
}
.myDot{
  width: 15px;
  height: 15px;
  background-color: white;
  border: 5px solid #EE8E3D !important;
  border-radius: 50%;
}
.forthSection img{
  width: 102px;
height: 107px;
/* background-color: #e5b90b4a;
border: 30px solid #e5b90b4a; */
/* opacity: .16; */
}
.forthSection .card{
  height: 360px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.311) ;
}
.date,.title{
  margin-right: 15px;
}

